/* General Tags */
:root {
    --background-color: white; 
    --text-color: black; 
    --coloured-text: url('../media/background-abstract.png');
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    min-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

section{
    display: block;
    max-width: 1300px; 
    margin: 0 auto;     
    width: 100%;        
    box-sizing: border-box; 
    padding: 0px 70px 160px 70px;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Visuelt';
    src: url('../media/fonts/VisueltPro-Medium.ttf') format('truetype');
}

/* Navigation */
.navbar {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

/* Primary Menu Container: Sticky and constrained to the navbar's width */
.primary-menu-container {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    max-width: 1160px;
    margin: 0 auto;
    z-index: 1000;
    box-sizing: border-box;
}

/* Primary Menu: Flexbox layout to align items horizontally */
.primary-menu {
    display: flex;
    justify-content: flex-end;
    background-color: var(--background-color);
    padding: 5px 10px;
    box-sizing: border-box;
    position: relative;
}

/* Secondary Menu: Initially positioned right below the primary menu */
.secondary-menu {
    position: fixed;
    top: 65px;
    padding: 0;
    background-color: var(--background-color);
    z-index: 1000;
    width: 200px;
    display: none;
}

/* Stack secondary menu items vertically */
.nav-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: 'Visuelt', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-links a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 17px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    padding: 10px 20px;
}

/* Hover effect for links */
.nav-links a:hover {
    font-size: 17px;
    background-color: black;
    color: white;
}

/* Replace image elements with div sections with background images */
#music-icon, #mode-icon, #menu-icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease, background-image 0.3s ease;
}






/* Text */
.title{
    text-transform: uppercase;
    font-size: 80.5px;
    font-family: sans-serif;
    font-weight: 600;
    color: var(--text-color);
    width: 100%;
    margin: 0px 0px 0px -3px;
}

.description{
    display: block;
    font-family: 'Visuelt', sans-serif;
    font-size: 21px;
    text-align: justify; 
    word-spacing: 3px; 
    line-height: 1.4;
    max-width: 590px;
    color: var(--text-color);
    margin: 0 auto;
    padding: 13px 0px 0px 0px;
    margin: 0px;
}

.citation {
    padding: 0px 80px 0px 11px;
}

.description-skills {
    overflow-wrap: break-word; 
    padding: 12px 0px 0px 0px;
}

.footer{
    font-size: 18px;
    text-align: center; 
    max-width: 100%!important;
}

.none-padding{
    padding: 0px;
}

.colored-text-1 {
    font-size: 42.5px;
    font-weight: bold;
    font-family: sans-serif;
    background-image: var(--coloured-text);
    color: transparent; 
    background-size: cover; 
    background-position: center; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    display: inline-block; 
    margin: 5px 0px 15px -2px;
    padding: 0px;
}

.button {
    display: block;
    font-size: 1.15rem;
    padding: 22px 30px 18px 30px;
    margin: 32px 0px 18px 0px;
    border: 2px solid transparent;
    border-radius: 0px;
    background-color: #000; 
    color: #fff; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Visuelt', sans-serif; 
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    box-shadow: none; 
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #000; 
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 1); 
}

.button-1, .button-2, .button-3, .button-4 {
    display: inline-block;
    font-size: 1.15rem;
    padding: 4px 10px 0px 10px;
    border: 2px solid transparent;
    border-radius: 0px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Visuelt', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    box-shadow: none;
}

.button-1 {
    background-color: #d32f2f;
    border: 2px solid #d32f2f;
    padding: 4px 12px 0px 12px;
    margin: 0px 0px -1px 0px;
}

.button-1:hover {
    background-color: #fff;
    color: #d32f2f;
    border: 2px solid #d32f2f;
    box-shadow: 0px 0px 5px rgba(211, 47, 47, 0.5);
}

.button-2 {
    background-color: #f99c1d;
    border: 2px solid #f99c1d;
}

.button-2:hover {
    background-color: #fff;
    color: #fdb655;
    border: 2px solid #f99c1d;
    box-shadow: 0px 0px 5px rgba(253, 182, 85, 0.5);
}

.button-3 {
    background-color: #2ba9c9;
    border: 2px solid #2ba9c9;
}

.button-3:hover {
    background-color: #fff;
    color: #0086a8;
    border: 2px solid #2ba9c9;
    box-shadow: 0px 0px 5px rgba(0, 134, 168, 0.5);
}

.button-4 {
    background-color: #0e6b94;
    border: 2px solid #0e6b94;
}

.button-4:hover {
    background-color: #fff;
    color: #0e6b94;
    border: 2px solid #0e6b94;
    box-shadow: 0px 0px 5px rgba(14, 107, 148, 0.5);
}

.link{
    color:black;
    text-decoration:underline;
}






/* Rows and Columns */
.row{
    display: flex; 
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    margin: 0 auto; 
}

.col-40{
    flex: 0 0 40%;
}

.col-60{
    flex: 0 0 60%; 
}

.col-100{
    flex: 0 0 100%;
}



/* Home */
.col-1-1 {
    padding-top: 20px;
}

.row-1 { 
    padding: 15px 0vh 0vh 0vh;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh; 
    padding: 0px 70px;
}

/* Make the image responsive */
.man {
    max-width: 100%;
}






/* Portfolio */
.row-2 {
    display: block;
    text-align: center;
    padding: 0px 0px 15px 0px;
}

.row-3 {
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 30px;
    background-image: url(../media/bg.png);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    gap: 30px;

}

/* Columns Styling */
.col-3-1, .col-3-2, .col-3-3 {
    flex: 1; 
    min-width: 300px; 
    background:  var(--background-color);
    padding: 15px;
    box-shadow: 0px 0px 10px 1px var(--background-color);
    border-radius: 0px;
    box-sizing: border-box;
    text-align: center;
    min-height: auto;
}

/* Logo Styling */
.project-logo {
    width: 250px;
    height: auto;
    display: block;
    margin: 0px auto 10px auto;
    background-color: transparent;
}








/* Design */
#design{
    padding: 0px 70px 170px 70px;
}

.citation-icon {
    width: 60px;
    height: auto;
    padding: 5px 0px 20px 0px;
}

/* Title Styling */
.title-right {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600; 
    font-size: 5.7rem;
    line-height: 0.85;
    text-align: left; 
    direction: rtl; 
    white-space: nowrap;
}

/* Ensure each word is on a new line */
.title-right .word {
    display: block;
    white-space: nowrap;
    margin: 0;
}

/* Average remains black */
.word:not(.do-word):not(.design-word) {
    color: var(--text-color); 
}

/* Ensure "Don't" stays on the same line */
.dont-word {
    display: inline-block;
}

/* Styling for "Do" - smoothly change color on scroll */
.do-word {
    color: var(--text-color); 
    transition: color 0.5s ease-in-out;
}

/* "n't" stays black and inline at all times, but we will change it after 3 seconds */
.nt-word {
    color: var(--text-color);
    display: inline; 
    transition: color 0.5s ease-in-out; 
}

/* Colored text effect with background image for "Do" and "n't" */
.coloured-text-5 {
    background-image: url('../media/background-abstract.png'); 
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 1.5s ease-in-out, background-position 1.5s ease-in-out;
}

/* Specific positions for Do and Design */
.do-word.coloured-text-5 {
    background-position: top;
}

.design-word.coloured-text-5 {
    background-position: bottom;
}







/* How It Works */
.container-works {
    position: relative;
    overflow: hidden;
}

/* Row styling */
.row-5 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Left column */
.col-5-1 {
    flex: 0 0 50%;
    text-align: left;
    position: sticky;
    top: 0;
}

/* Title in left column */
.title-works {
    text-transform: uppercase;
    font-size: 75px;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
    padding: 0px 0px 10px 0px;
    width: 100%;
}

/* Counter styling */
.counter {
    font-size: 12rem;
    font-family: sans-serif;
    color: #000;
    line-height: 1;
    margin: 0;
    text-align: center;
}

/* Vertical line */
.vertical-line {
    width: 4px;
    background-color: #00c9a7; 
    height: 100vh;
    position: absolute;
    left: 56.1%; 
    top: 0%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease-in-out;
}

/* Right column */
.col-5-2 {
    flex: 0 0 37.5%;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}

/* Description text */
.description-4 {
    font-family: 'Visuelt', sans-serif;
    font-size: 21px;
    text-align: justify;
    word-spacing: 3px;
    line-height: 1.4;
    color: black;
    max-width: 440px;
    margin: 0px;
    padding: 0px;
}

/* Progress bar animation for the vertical line */
.step.active .vertical-line {
    transform: scaleY(1); 
}

/* Step visibility */
.step {
    display: none; 
}

.step.active {
    display: flex;
}






/* Skills */
#skills {
    box-sizing: border-box; 
    padding: 0px 70px 170px 70px;
}

.col-7-1 {
    background: url(../media/pc1.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex: 0 0 57%;
    height: 750px;
    padding: 0px 20px 0px 20px;
}

.col-7-2 {
    box-sizing: border-box;
    flex: 0 0 43%;
    flex-shrink: 1; 
    margin-top: 0px; 
    max-width: 100%;
    overflow: hidden; 
    padding: 0px 0px 0px 0px;
}

.bull{
    margin: 12px 0px 0px 0px ;
    padding: 0px 5px 0px 0px;
    font-size: 24px;
    font-weight: 900;
}






/* Education */
#education {
    display: flex;
    justify-content: center;
    align-items: center;       
    padding: 0px 70px 170px 70px;
}

.col-8-1 {
    flex: 0 0 59%;
}

.col-8-2 {
    flex: 0 0 41%;
}

.education {
    width: 100%;
    max-width: 440px; 
    margin: 0px 0px 0px 0px;
}

.left{
    text-align:center;
}







/* About Me */
#about {
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 0px 70px 170px 70px; 
}

.col-9-1 {
    flex: 0 0 62%;
    padding-top: 10px;
}

.col-9-2 {
    flex: 0 0 38%; 
}

/* Make the image responsive */
.me {
    max-width: 80%;
}




/* Contacts */
#contacts{
    padding: 0px 70px 0px 70px;    
}

.row-12 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    background: url('../media/bg2.png') no-repeat center center;
    background-size: cover;
}

/* Ensure both columns are equally spaced */
.col-12-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 18px 0px;
}

.contact{
    width: 300px;
    text-align:center;
    margin: 10px 0px;
}





/* Footer */
footer{
    text-align:center;
    width: 100%;
}



/* Spacings */
.top{
    margin: 28px -2px 18px 0px;
}

.right{
    text-align:right;
}

.announce{
    padding: 4px 0px 0px 0px;
}

.mobile{
    display:none!important;
}


/* Responsive Design */
@media (max-width: 1310px) {
    section, #design, #skills, #education, #about {
        padding: 0px 30px 180px 30px;
    }

    #contacts, #home{
        padding: 0px 30px 0px 30px;
    }

    .row-3{
        margin: 0px;
        max-width: 1300px;
    }
}

@media (max-width: 1190px) {
    .title{
        font-size: 70px;
    }

    .primary-menu-container{
        padding: 0px 20px 0px 0px;
    }

    .secondary-menu{
        margin: 0px 20px 0px 0px;
    }

    .col-7-1{
        flex: 0 0 48%;
        background-size: cover;
        background-position: center;
    }

    .col-7-2{
        flex: 0 0 39.7%;
    }
}

@media (max-width: 1145px) {
    .row-2{
        padding: 0px 0px 25px 0px;
    }
    
    .description{
        max-width: 515px;
    }

    .colored-text-1 {
        font-size: 40px; 
    }

    .word, .nt-word, .do-word{
        font-size: 80px;
    }
}

@media (max-width: 1095px) {

    #skills{
        padding: 0px 30px 180px 30px;
    }

}

@media (max-width: 1079px) {
    .title{
        font-size: 60px;
    }

    .description{
        max-width: 440px;
    }

    .colored-text-1 {
        font-size: 34px; 
    }

    .study{
        max-width: 500px;
    }

    .wide{
        max-width: 100%;
    }

    #about, #skills{
        padding: 0px 30px 160px 30px;
    }

    .word, .nt-word, .do-word{
        font-size: 70px;
    }

    #portfolio{
        padding: 0px 30px 140px 30px;
    }

    #design{
        padding: 0px 30px 160px 30px;
    }

    .man {
        max-width: 390px;
        width: 100%;
    }
}

@media (max-width: 980px) {
    .colored-text-1 {
        font-size: 34px;
    }

    .study{
        max-width: 460px;
    }
}


@media (max-width: 930px) {
    .title{
        font-size: 50px;
    }

    .description{
        max-width: 370px;
    }

    .study{
        max-width: 440px;
    }

    .colored-text-1 {
        font-size: 28.3px; 
    }

    .wide{
        max-width: 100%;
    }

    .mobile{
        display: block!important;
    }

    .desktop{
        display: none!important;
    }

    .row-7 {
        display: block; 
        justify-content: flex-start; 
    }

    .col-7-1, .col-9-1 {
        flex: 0 0 100%; 
        background: none;
        display: block; 
        height: auto;
        padding: 40px 0px;
    }

    .col-7-2 {
        flex: 0 0 100%; 
        display: block; 
        padding: 20px; 
        width: 100%;
        height: 80vh;
        background: url(../media/pc1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .mobile-description{
        max-width: 100%;
    }

    .me{
        float: right;
        max-width: 370px;
        padding: 0px 10px 0px 20px;
    }

    #portfolio{
        padding: 0px 30px 150px 30px;
    }

    #design{
        padding: 0px 20px 130px 30px;
    }

    #skills{
        padding: 0px 35px 165px 35px;
    }

    #education{
        padding: 0px 30px 140px 30px;
    }

    #about{
        padding: 0px 30px 140px 30px;
    }

    .word, .nt-word, .do-word{
        font-size: 65px;
    }
}

@media (max-width: 825px) {
    .col-7-2 {
        flex: 0 0 100%; 
        display: block; 
        height: 80vh;
        background: url(../media/pc1.png);
        background-size: cover;
        background-position: center;
    }
    
    #home{
        padding: 0px 32px 0px 32px;
    }

    #design{
        padding: 0px 22px 150px 22px;
    }

    #education{
        padding: 0px 30px 150px 35px;
    }

    #skills{
        padding: 0px 35px 165px 35px;
    }

    #about{
        padding: 0px 30px 160px 35px;
    }

    .study{
        max-width: 365px;
    }

    .citation{
        padding: 0px 57px 0px 11px;
    }

    .word, .nt-word, .do-word{
        font-size: 55px;
    }

    .me{
        max-width: 340px;
    }
}

@media (max-width: 765px) {
    .column-content p{
        max-width: 100%;
    }

    #skills{
        padding: 0px 30px 180px 30px;
    }

    .title{
        font-size: 42px;
    }

    .colored-text-1 {
        font-size: 23.5px; 
        margin: 8px 0px 11px -1px;
    }

    .coloured{
        margin: 9px 0px 15px -1px;
    }

    .word, .nt-word, .do-word{
        font-size: 55px;
    }

    .citation{
        padding: 0px 45px 0px 11px;
    }

    .description{
        max-width: 306px;
    }

    .mobile-description{
        max-width: 100%;
    }
}

@media (max-width: 730px) {
    .me{
        max-width: 300px;
    }

    #design{
        padding: 0px 60px 150px 22px;
    }

    #skills{
        padding: 0px 30px 175px 30px;
    }
}

@media (max-width: 630px) {
    .me{
        max-width: 200px;
    }

    .title{
        font-size: 42px;
    }

    .description{
        max-width: 306px;
    }

    .mobile-description{
        max-width: 100%;
    }

    .column-content p{
        max-width: 100%;
    }

    .word, .nt-word, .do-word{
        font-size: 45px;
    }

    .row-2{
        padding: 0px 0px 15px 0px;
    }

    #design{
        padding: 0px 30px 175px 30px;
    }

    #skills{
        padding: 0px 20px 175px 20px;
    }

    #education{
        padding: 0px 30px 175px 40px;
    }

    #about{
        padding: 0px 40px 160px 40px;
    }
}

@media (max-width: 620px) {
    .primary-menu-container{
        display:block;
    }

    #home{
        display: block;
    }

    .row-1, .row-4, .row-8, .row-9{
        display: block;
    }

    .row-1 { 
        padding: 69px 0vh 0vh 0vh;
    }

    .col-1-1, .col-1-2, .col-4-1, .col-4-2, .col-8-1, .col-8-2 {
        flex: 0 0 100%;
        display: block;
        padding: 0 0; 
    }

    .col-1-2{
        text-align:center;
    }

    .man {
        max-width: 250px; 
        height: auto; 
        margin: 25px 0px 25px 0px;
        text-align: center;
    }

    .title{
        font-size: 65px;
    }

    .colored-text-1 {
        font-size: 36.5px; 
        margin: 8px 0px 11px -1px;
    }

    .coloured{
        margin: 6px 0px 15px -1px;
    }

    .description{
        max-width: 480px;
    }

    #portfolio{
        padding: 30px 30px 75px 30px;
    }

    .citation-icon{
        float:left;
        padding: 5px 20px 0px 0px;
    }

    .study{
        max-width: 100%;
    }

    .word, .nt-word, .do-word{
        font-size: 6.5rem;
    }

    .title-right{
        padding: 75px 0px 0px 0px;
    }

    #design{
        padding: 0px 30px 35px 30px;
    }

    #skills{
        padding: 0px 15px 75px 15px;
    }

    #education{
        padding: 0px 30px 75px 35px;
    }

    .education{
        margin: 20px 0px 0px 0px;
    }

    #about{
        padding: 0px 30px 100px 35px;
    }
}


@media (max-width: 600px) {
    .title{
        font-size: 60px;
    }

    .colored-text-1 {
        font-size: 34px; 
        margin: 8px 0px 11px -1px;
    }

    .description{
        max-width: 100%;
    }

    .word, .nt-word, .do-word{
        font-size: 6rem;
    }

    .col-7-2 {
        height: 350px;
        background: url(../media/pc2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #education{
        margin: 20px 0px 20px 0px;
    }

    #skills{
        padding: 0px 15px 45px 15px;
    }
}

@media (max-width: 580px) {
    .citation{
        padding: 0px 5px 0px 0px;
    }

    .word, .nt-word, .do-word{
        font-size: 5.5rem;
    }
}

@media (max-width: 530px) {
    #about{
        padding: 0px 30px 80px 35px;
    }

    .title{
        font-size: 54px;
    }

    .colored-text-1 {
        font-size: 30.2px; 
        margin: 8px 0px 11px -1px;
    }
}

@media (max-width: 520px) {
    .word, .nt-word, .do-word{
        font-size: 5rem;
    }

    .footer{
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    #about{
        padding: 0px 30px 80px 35px;
    }

    .title{
        font-size: 50px;
    }

    .colored-text-1 {
        font-size: 28px; 
        margin: 8px 0px 12px -1px;
    }

    .me{
        max-width: 150px;
    }

    .row-1 { 
        padding: 69px 0vh 0vh 0vh;
    }

    .description{
        font-size: 18px;
    }
}

@media (max-width: 465px) {
    .word, .nt-word, .do-word{
        font-size: 4.5rem;
    }
}

@media (max-width: 450px) {
    #about{
        padding: 0px 30px 100px 35px;
    }

    .contact {
        width: 200px;
    }

    .button{
        font-size: 1rem;
    }

    .title{
        font-size: 43px;
    }

    .colored-text-1 {
        font-size: 24px; 
        margin: 8px 0px 12px -1px;
    }

    #education{
        margin: 40px 0px 0px 0px;
    }

    #about{
        padding: 0px 10px 60px 10px;
    }

@media (max-width: 440px) {
    .row-3{
        padding: 20px;
    }

    .col-4-2{
        margin: -30px 0px 0px 0px;
    }

    .me{
        max-width: 130px;
        padding: 0px 0px 0px 5px;
    }
}

@media (max-width: 428px) {
    section, #home, #design, #skills, #education, #about, #contacts {
        padding-right: 10px;
        padding-left: 10px;
    }

    #portfolio{
        padding-right: 0px;
        padding-left: 0px;
    }

    .row-3{
        padding: 15px;
    }

    #portfolio{
        padding-bottom: 65px;
    }

    .title-right{
        margin-left: -5px;
    }

    .col-7-1{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    .col-7-2{
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 10px;
        width: 100%;
        max-width: 100%;
    }

    .col-3{
        margin: 0px 0px -13px 0px;
        min-width: 100%;
    }

    .footer{
        font-size: 14px;
    }

    .button{
        font-size: 0.8rem;
        letter-spacing: 1px;
    }
}

@media (max-width: 380px) {
    .row-3{
        padding: 10px;
    }

    #about{
        padding: 0px 10px 100px 10px;
    }

    .word, .nt-word, .do-word{
        font-size: 4rem;
    }
}

@media (max-width: 360px) {
    .row-3{
        padding: 10px 10px 25px 10px;
    }

    .col-3{
        padding: 0px 8px;
        margin: 0px 0px -15px 0px;
    }

    .title{
        font-size: 40px;
    }

    .colored-text-1 {
        font-size: 22.5px; 
        margin: 8px 0px 12px -1px;
    }

    .col-7-2 {
        height: 320px;
        background: url(../media/pc3.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (max-width: 340px) {
    #about{
        padding: 0px 15px 80px 15px;
    }

    .word, .nt-word, .do-word{
        font-size: 3.7rem;
    }

    .title{
        font-size: 38px;
    }

    .colored-text-1 {
        font-size: 21px; 
        margin: 8px 0px 12px -1px;
    }

    .project-logo{
        margin: 0px 0px 0px 15px;
    }
}

@media (max-width: 330px) {
    .project-logo{
        margin: 0px 0px 0px 8px;
    }
}



/* Height Optimisation */

@media (max-height: 800px) and (max-width: 800px) {

}